body{
    background-image: url(./img/istockphoto-672291718-170667a.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h2{
    display: inline-block;
    width: 70px;
    border: solid;
    text-align: center;
}
.parent{
    width: 25%;
    margin: 0px auto;
    border: solid;
    padding: 5%;
}
button{
    width: 30%;
    text-align: center;
    font-size: larger;
    text-transform: capitalize;
    font-weight: bold;
}
button:hover{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    text-transform:uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 2px 2px grey;
    margin-top: 10%;
    font-size: 50px;
}
